@import "../../../common/style/colors";
@import "../../../common/style/templates";
.header {
  background-color: $color-dark-blue;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 10px;
  margin: auto;
  height: 100px;
  .search_wrapper {
    max-width: 350px;
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 10px;
    .search {
      width: 100%;
      padding: 12px 35px 12px 14px;
      border-radius: 8px;
      @extend %font-popins;
      font-size: 14px;
      color: $color-gray;
    }
    .lupa {
      background-color: transparent;
      border: none;
      .avatar_lupa {
        position: absolute;
        right: 17px;
        bottom: 14px;
        width: 24px;
        height: 24px;
      }
    }
  }
  .nav_bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    .nav_list {
      display: flex;
      .nav_list_item {
        margin-right: 10px;
        position: relative;
        .item_link {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          padding: 20px 0;
          text-decoration: none;
          color: $color-dark-white;
          @extend %font-popins;
          font-size: 12px;
          font-weight: 700;
          svg {
            width: 16px;
            height: 16px;
            fill: $color-dark-white;
            margin-right: 6px;
            &:hover {
              fill: white;
            }
          }
          span:hover {
            color: white;
          }
          &:hover {
            color: white;
          }
        }
      }
    }
    .button_start {
      background-color: transparent;
      border: none;
      border: 1px solid white;
      border-radius: 4px;
      padding: 12px 8px;
      color: white;
      transition: all 0.3s;
      &:hover {
        background-color: white;
        color: $color-dark-blue;
      }
    }
  }
}

.sub_nav_list {
  display: none;
  position: absolute;
  right: 20px;
  top: 50px;
  width: 200px;
  max-height: 150px;
  padding: 20px 0;
  border-radius: 8px;
  background-color: white;
  box-shadow: -1px 2px 6px rgb(0 0 0 / 25%);
  .sub_nav_list_item {
    display: flex;
    flex-direction: column;
    color: black;
    margin: 20px;
    @extend %font-popins;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    &:hover {
      color: $color-light-blue;
    }
  }
}
.nav_list_item:hover .sub_nav_list {
  display: block;
}
.list_contact {
  display: flex;
  align-items: center;
  transform: translateX(25px);
  gap: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  &:hover {
    color: $color-light-blue;
  }
  svg {
    width: 23px;
    height: 23px;
    fill: #cccccc;
    &:hover {
      fill: $color-light-blue;
    }
  }
  span {
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
  }
}
@media screen and (max-width: 1025px) {
  .header_wrapper {
    padding: 0 20px;
    .search_wrapper {
      max-width: 600px;
    }
    .button_start {
      display: none;
    }
  }
  .item_link {
    span {
      display: none;
    }
  }
}
